@import "/node_modules/antd/dist/antd.less";

// -------- Colors -----------
@text-color-primary: #0d0346;

// Buttons
@btn-primary-bg: #000000;
@btn-ghost-bg: #ffffff;
@btn-default-bg: @text-color-secondary;
@btn-border-radius-base: 10px;

@btn-primary-color: #ffffff;
@btn-default-color: #ffffff;
@btn-ghost-color: #000000;